# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DELL\IdeaProjects\Intro2cs\Exercises\Ex3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

###
/Exercises/Ex3/ex3.zip